[submodule "bootstrap/pdocs/pdocs"]
	path = bootstrap/pdocs/pdocs
	url = git@github.com:dkuettel/pdocs.git
[submodule "bootstrap/ptags/ptags"]
	path = bootstrap/ptags/ptags
	url = git@github.com:dkuettel/ptags.git
[submodule "bootstrap/tmux/tmux"]
	path = bootstrap/tmux/tmux
	url = https://github.com/tmux/tmux.git
[submodule "bootstrap/nvim/vimminent"]
	path = bootstrap/nvim/vimminent
	url = git@github.com:dkuettel/vimminent.git
[submodule "bootstrap/dwm/dwm"]
	path = bootstrap/dwm/dwm
	url = git@github.com:iff/dwm.git
	branch = iff
[submodule "bootstrap/ltstatus/ltstatus"]
	path = bootstrap/ltstatus/ltstatus
	url = git@github.com:dkuettel/ltstatus.git
	branch = main
[submodule "bootstrap/alacritty/alacritty"]
	path = bootstrap/alacritty/alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "bootstrap/off-blast/off-blast"]
	path = bootstrap/off-blast/off-blast
	url = git@github.com:iff/off-blast.git
[submodule "bootstrap/one-shell-history/one-shell-history"]
	path = bootstrap/one-shell-history/one-shell-history
	url = git@github.com:dkuettel/one-shell-history.git
	branch = main
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
