* {
	font-family: sans-serif;
	font-size: 10px;
}

window#waybar {
	background-color: rgba(30, 30, 36, 0.5);
	border-bottom: 2px solid rgba(166, 173, 200, 0.5);
	color: white;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces button {
	padding: 0 3px;
	background-color: transparent;
	color: white;
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -2px transparent;
	/* Avoid rounded borders under each workspace name */
	border: none;
	border-radius: 0;
}

#workspaces button:hover {
	background: rgba(24, 24, 37, 0.5);
	box-shadow: inset 0 -2px white;
}

#workspaces button.focused {
	background-color: rgba(17, 17, 27, 0.5);
	box-shadow: inset 0 -2px white;
}

#workspaces button.urgent {
	background-color: #f38ba8;
	box-shadow: inset 0 -2px white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
	padding: 0 10px;
	color: white;
}

#window,
#workspaces {
	margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}


#cpu.warning, #memory.warning {
	background-color: #fab387;
	color: black;
}

#cpu.critical, #memory.critical {
	background-color: #f38ba8;
	color: white;
}

@keyframes charging {
	from {
		background-position: 150%;
	}
	to {
		background-position: -50%;
	}
}

#battery.charging {
	background: linear-gradient(90deg, #f9e2af, #f9e2af, white, #f9e2af, #f9e2af);
	background-size: 200%;
	color: black;
	animation-name: charging;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

#battery.full.charging {
	background: linear-gradient(90deg, #a6e3a1, #a6e3a1, white, #a6e3a1, #a6e3a1);
	background-size: 200%;
}

#battery.warning:not(.charging) {
	background-color: #fab387;
	color: black;
}

@keyframes blink {
	to {
		background-color: white;
		color: black;
	}
}

#battery.critical:not(.charging) {
	background-color: #f38ba8;
	color: white;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}

#pulseaudio.muted {
	background-color: #f38ba8;
	color: black;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #f38ba8;
}

#idle_inhibitor.activated {
	background-color: #a6e3a1;
	color: black;
}

